parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method toISOString\(\) on string\.$#'
			identifier: method.nonObject
			count: 3
			path: app/Http/Controllers/DropboxAuthController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:findAlternatives\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/RepairRecordController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getFutureReservations\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: app/Http/Controllers/RepairRecordController.php

		-
			message: '#^Call to static method calculateInventoryAsOf\(\) on an unknown class App\\Models\\InventorySnapshot\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Equipment.php

		-
			message: '#^Class App\\Models\\InventorySnapshot not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Equipment.php

		-
			message: '#^Method App\\Models\\Equipment\:\:getActualLocationAttribute\(\) should return App\\Models\\Location\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Equipment.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:required\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/EquipmentSet.php

		-
			message: '#^Call to static method getSnapshotsByDate\(\) on an unknown class App\\Models\\InventorySnapshot\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Location.php

		-
			message: '#^Class App\\Models\\InventorySnapshot not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Location.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\EquipmentMovement model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Models/Location.php

		-
			message: '#^Cannot call method diffInSeconds\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/DropboxService.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/DropboxService.php

		-
			message: '#^Cannot call method toISOString\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/DropboxService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:reportedBetween\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Services/EquipmentAnalyticsService.php
